[2020-05-03 16:27] meshuga opened #1 "List VPCs"
It would be good to list all VPCs, that is ones defined within a region as well as ones peered directly as well as through a transit gateway attachment.

[2020-05-03 16:29] meshuga opened #2 "List IAM policies"
VPCs can be referred in IAM policies. It would be good to detect them.

[2020-05-03 16:45] leandrodamascena commented on #1
Nice @meshuga. I'll implement this feature in next releases.. you can inform only region (or get through aws credentials) and show all vpcs, peering and attachments.. maybe in one or two week.

Let me know if actual features are running ok..

[2020-05-03 18:16] leandrodamascena commented on #2
Done. Please check..
You need to add one more policy (SecurityAudit) to allow get IAM Policies.

[2020-05-04 07:02] meshuga opened #4 "Project license"
An explicit license file is something good to have if it's about to be used for commercial purposes and encourage contributors to add improvements.
Recommended one: Apache License 2.0

[2020-05-04 07:10] meshuga commented on #2
Looks good to me, thanks!

[2020-05-04 07:10] #2 closed

[2020-05-04 08:42] leandrodamascena commented on #4
I copied this from other projects that I have... in next releases I look this point.

Thank you :)

[2020-05-04 08:56] meshuga opened #6 "More compute resources"
It would be good to list:
- [x] ECS Fargate clusters
- [x] EKS clusters
- [x] EMR clusters
- [x] MSK clusters
- [x] SQS Policies (like in #2)
- [x] ASGs (through subnets)

[2020-05-04 09:03] meshuga opened #7 "(AWS VPC) More network resources"
It would be good to have:
- [x] ALB resources
- [x] Internet Gateway
- [x] NAT Gateway
- [x] VPC/Service Endpoint
- [x] Route tables
- [x] Subnets
- [x] Peered connections
- [x] Security Groups
- [x] NACLs
- [ ] Virtual Private Gateways
- [ ] VPN Connections
- [ ] Client VPN Endpoints

[2020-05-04 09:19] meshuga opened #8 "More database resources"
It would be good to have:
- [x] Elasticsearch
- [x] DocumentDB

[2020-05-04 09:20] meshuga opened #9 "More storage resources"
It would be good to list:
- [x] S3 Policies like in #2

[2020-05-04 12:44] leandrodamascena commented on #9
Done..
Now we'll use developer branch before merge to master.. was a little project and now is growing :D

[2020-05-04 13:22] leandrodamascena commented on #8
Elasticsearch has policies access too, so this update checks either a domain using vpc or a policy access.

[2020-05-04 14:07] leandrodamascena commented on #8
Searching directly in instances of DocumentDB is more reasonable than find cluster and after find instances of that cluster..

[2020-05-04 14:12] meshuga commented on #8
Good catch with that ES policy.

[2020-05-04 19:37] leandrodamascena opened #10 "Translation"
Add i18n support.

[2020-05-04 19:46] leandrodamascena commented on #10
I18n support has been added.

[2020-05-04 19:53] leandrodamascena opened #11 "Region problem"
A code refactoring from # 5 generated a problem when region is not informed on profile file (~.aws/config). Region is not required when configure aws cli and if not informed region attribute doesn't exist on file.

![image](https://user-images.githubusercontent.com/4295173/81007191-b4c7bd80-8e48-11ea-9714-876993decdb4.png)

[2020-05-05 06:41] meshuga commented on #8
@leandrodamascena DocumentDB detects RDS instances on my account :)

[2020-05-05 08:58] leandrodamascena commented on #8
You sure @meshuga. Even boto3 client instanced different resources (rds/docdb), they use the same method behind to get db_instances, the only thing that diff between is engine... I added engine filter in both class: RDS and DOCUMENTDB

[2020-05-05 09:04] meshuga commented on #10
That feature is something complicated to talk about. Having non-standard languages e.g. English within a project, especially project reports, decreases its ability to involve people from other countries to participate and e.g. make project outsourcing harder.

[2020-05-05 09:20] leandrodamascena commented on #10
I understand @meshuga . But the reason of i18n in project is to help some friends from Brazil that can't read and write in english so well.

The project continues in english :)

[2020-05-05 09:32] leandrodamascena commented on #7
I'm thinking about how to refactor code of print messages... I don't like the way of things are displayed on screen and with lot of new services this will be a big mess..

I'll insert these new services, but will keep on target how to re-design this...

[2020-05-05 20:58] leandrodamascena commented on #6
Added SQS Queue Policies. In this case boto3 return a non default response like other resources.. maybe it's a legacy version..

[2020-05-06 04:17] meshuga commented on #8
Thanks!

[2020-05-06 04:17] #8 closed

[2020-05-06 04:17] meshuga commented on #9
Thanks!

[2020-05-06 04:17] #9 closed

[2020-05-06 08:31] meshuga opened #13 "Check for VPCE in policies"
It's possible to refer VPC Endpoint [1] instead of VPC id when defining policies. It even seems like is the only option in case of SQS Policies [2].

The tool should correlate endpoints to VPCs when generating a report.

Refs
[1] https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-sourcevpce
[2] https://docs.aws.amazon.com/AWSSimpleQueueService/la

[2020-05-06 08:34] leandrodamascena commented on #13
Good point. I use VPCE here to access services through a private subnet.

I'll check this.

[2020-05-06 08:45] meshuga opened #14 "Check for Source IP/CIDR in Policies"
It's possible to allow access based on `aws:SourceIp`keyword [1].

The task is to detect that and try to correlate VPC with VPC's subnet.
Sine there is no 100% guarantee the correlation will be correct, an information about similarity must be displayed, if potential subnets are detected within account.

Refs
[1] https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_condition-keys.htm

[2020-05-06 08:51] leandrodamascena commented on #14
Imagine that I have this policy..

"Condition": {
                "Bool": {"aws:ViaAWSService": "false"},
                "IpAddress": {"aws:SourceIp": "123.45.167.89"}
            }

What you're saying is when found key ipAddress-SourceIp, find in all subnets from that vpc to discover if its a potencial Ip used? Makes sense. This will require a little more attention cause some ips are a CIDR bloc

[2020-05-06 09:22] meshuga commented on #14
Yes, that's what I had in mind. There are ofc some pitfalls. If an IP address/CIDR is within a range of overlapping CIDRs like in [1], things aren't getting so obvious.

[1] https://docs.aws.amazon.com/vpc/latest/peering/peering-configurations-partial-access.html#one-to-two-vpcs-simple-hub

[2020-05-06 09:24] leandrodamascena commented on #14
Ok, I get it! I'll simulate some scenarios.

[2020-05-06 10:59] leandrodamascena commented on #14
@meshuga it's a prototype in a separated branch... There are some issues to fix before merge in developer branch:

1 - Works only if the key "aws:SourceIp" is a single IP, not a list.
2 - Works only if the key "aws:SourceIp" has a IP with no subnet block.. Example: 10.0.1.2 works.. 10.0.1.2/32 doens't work.

I need to improve reg expression to fix these itens.. But it's working :D

![image](https:

[2020-05-06 11:02] leandrodamascena commented on #14
Maybe you'll need to run: pip install ipaddress

[2020-05-06 12:38] leandrodamascena commented on #14
Fixed

[2020-05-06 14:12] leandrodamascena commented on #14
![image](https://user-images.githubusercontent.com/4295173/81187411-eefda000-8fab-11ea-8a09-78e162aec5ca.png)

![image](https://user-images.githubusercontent.com/4295173/81187480-06d52400-8fac-11ea-988c-a283138d42fb.png)

[2020-05-06 15:15] meshuga commented on #14
That policy doesn't much work (nothing is detected):
[code]
Policy without IPv6 CIDR is not detected as well.

I got an idea: to make the tool be solid - let's just add another detection mechanism and not correlate it with any VPC or subnet whatsoever. Let's just display the information as is. It will reduce potential misunderstanding of the report entries.

[2020-05-06 15:24] leandrodamascena commented on #14
Is it a IAM Policy or SQS Policy inside a queue? In this branch the tool just check if policy is inside the queue not just as IAM Policy. I'll replicate if success in SQS Queue Policy..

![image](https://user-images.githubusercontent.com/4295173/81195567-eb6f1680-8fb5-11ea-83da-54679f72f8fd.png)

And about your ideia, I didn't get it... explain more, please.

[2020-05-06 15:36] meshuga commented on #14
Yup, it's an access policy assigned to my queue, as shown below:
![image](https://user-images.githubusercontent.com/1073936/81197058-0a879b80-8fea-11ea-9675-8a617414429e.png)

[2020-05-06 15:41] leandrodamascena commented on #14
![image](https://user-images.githubusercontent.com/4295173/81197561-591c4200-8fb8-11ea-9eab-02b0db5d11fe.png)

![image](https://user-images.githubusercontent.com/4295173/81197577-5e798c80-8fb8-11ea-9dd7-e43c3ee01ddc.png)

Maybe yours subnets CIDR? I can enable except too and we can check if some error shows..

And tell me more about your ideia.

[2020-05-06 15:45] meshuga commented on #14
I pointed that out in https://github.com/leandrodamascena/aws-network-discovery/issues/14#issuecomment-624711033
The idea is not to display network information from a context of solely VPCs but also other, like in this case, IP addresses, subnets.

[2020-05-06 15:49] leandrodamascena commented on #14
Ok, get it! I'll able debug in this version and you check if some error...

[2020-05-06 15:56] leandrodamascena commented on #14
Try now... script will show exceptions when check if a ip is inside a subnet..

[2020-05-07 23:23] leandrodamascena commented on #13
1 - VPCE endpoint
![image](https://user-images.githubusercontent.com/4295173/81353783-ec8d6a00-90c1-11ea-8a6e-9f32bb6a0ec0.png)

2 - SQS Policy Document
![image](https://user-images.githubusercontent.com/4295173/81353800-f616d200-90c1-11ea-94d5-72533b0702e5.png)

3 - Script output
![image](https://user-images.githubusercontent.com/4295173/81353890-2bbbbb00-90c2-11ea-8503-50e4cbe02d3d.png)

[2020-05-07 23:24] leandrodamascena commented on #14
Merged this branch into developer.

[2020-05-08 11:29] leandrodamascena commented on #6
ASGs launches EC2 instances every time that scale-out process occurs and if in "ASG Groups" a custom vpc was selected than existent check (EC2 INSTANCES) will catch that instances and alert...

I know that there may be some situations where the desired capacity is zero and there may not be instances launched by ASG, but the "ASG Group" will contain the custom vpc and it would be interesting to inf

[2020-05-08 13:09] leandrodamascena commented on #6
Added MSK cluster..
Lot of checks are using subnet query from vpc... in next releases I'll refactor this piece of code..

[2020-05-09 05:25] meshuga commented on #13
Looks nice! I'll try to provide more information in the report in a PR

[2020-05-10 07:07] meshuga commented on #6
I think it's desirable to list the ASGs, even those with `0` desired capacity.

Right now I got a list of EC2 instances but majority of them are created as a part of an ASG. It would be good to have a reference to that somewhere as well.

[2020-05-10 10:07] meshuga opened #16 "Add graph visualization export"
Since we often have situations when network can get complex, it's often simpler to represent the network as a graph. A ready tool can be used for that purpose, which is [cloudmapper](https://github.com/duo-labs/cloudmapper).

[2020-05-10 11:38] leandrodamascena commented on #16
Ok, i've already used cloudmapper only for tests proposes... You know about diagrams [1]? Maybe a good way too draw diagrams and show connections between VPC and resources...

Will analyze both solutions..

Refs
[1] https://github.com/mingrammer/diagrams

[2020-05-10 12:21] meshuga commented on #16
Thais a foot project as well! Definitely better to visualization tool but doesn’t much look to babe a autogeneration mechanisms in place. Good for us :)

[2020-05-10 14:50] leandrodamascena commented on #16
Yeah, a really nice project.. I use this to draw archs before to implement... Infra as a code is a really good solution...

Thinking about implementation we can do in 2 ways:

1 - Simple and first release - show a vpc and all resources inside

![image](https://user-images.githubusercontent.com/4295173/81502333-38fcc380-92d5-11ea-857d-790c02325f57.png)

2 - Include subnets and put resources inside

[2020-05-10 15:43] meshuga commented on #16
It's hard to tell. I usually make distinctions between public/private subnets but not between concrete instantiations. None of the is perfect for me and I think everyone can agree with me (not a selfish opinion). It's just one of common scenarios - https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Scenario2.html

For reference, the issue is related with https://github.com/mingrammer/diagrams/is

[2020-05-11 00:07] leandrodamascena commented on #16
There are lot of things to improve, but check this prototype if make sense... Now all executions must have return a list with resource-id and tool use to print diagram... Working with lambda and igw for tests... Add a parameter "-d test"

I combined all resource-id of a certain parent resource (compute, analytics, database...) in a cluster to improve user experience. ]

![image](https://user-image

[2020-05-11 09:20] leandrodamascena commented on #7
Added ALB and CLASSIC LB check. There are 2 different classes to check cause boto3 implementation works this way..

[2020-05-11 10:18] leandrodamascena commented on #13
Included in 0.5.0 release.

[2020-05-11 10:18] #13 closed

[2020-05-11 10:18] leandrodamascena commented on #14
Included in 0.5.0 release.

[2020-05-11 10:18] #14 closed

[2020-05-11 13:17] leandrodamascena commented on #7
VPC Service Endpoint is attached to a Network Load Balancer and there is no a simple way to get the information about NLB.. The response of boto3 method describe_vpc_endpoint_services() doesn't have subnet or vpc-id, just have AZ and I can't use this, it's not safe.

But it's not a problem.. When scripts checks NLB, will detect if is using VPC informed or not..

[2020-05-12 21:22] leandrodamascena opened #19 "Add management resources"
- [x] Synthetics canaries
- [x] Cloudformation

[2020-05-12 21:54] leandrodamascena opened #21 "Refactor code"
Refactor code to implement new enhancements and fix problems:

1 - PEP compliance
2 - New and fast way to instance classes to run checks
3 - General method to parse and analyze most of checks

[2020-05-13 15:32] meshuga commented on #21
It would be good to have common way of error handling. If a single resource analysis/generation fails, the whole process of network discovery should not be aborted.

I think it would be also good for the code to be split into three parts:
1. Resource generation
2. Report printing
3. Other data exports e.g. #16

We could create a new class e.g. Resource, which would store details like type, id, nam

[2020-05-13 19:17] leandrodamascena commented on #21
Hmmm ok.. Let me know more about your idea of a Resource class....

Other itens I agree totally.. We maybe focus now on finish all resources that use VPC, and in each release refactor a piece of code...

[2020-05-13 21:38] #11 closed

[2020-05-14 03:43] meshuga commented on #21
Maybe something like below would be working for us:
[code]

[2020-05-14 09:37] leandrodamascena commented on #21
Ok @meshuga. Get it!.. I'll create a separate branch to implement a prototype and validate the idea...

It really is a simpler way to store and reuse all discovered resources in report / diagram / export classes.

[2020-05-14 11:02] meshuga commented on #21
Agree, that's more or less how Terraformer works :)

[2020-05-22 10:50] leandrodamascena commented on #6
Added EC2 check..

[2020-05-22 22:46] leandrodamascena commented on #6
Added ASG check.

[2020-05-22 23:01] leandrodamascena commented on #6
Everything done... Closing issue.

[2020-05-22 23:01] #6 closed

[2020-05-22 23:03] leandrodamascena commented on #19
Everything done... Closing issue.

[2020-05-22 23:03] #19 closed

[2020-05-23 07:40] meshuga opened #23 "Add EC2 Target Groups"
Target groups are crucial part of load balancers and ECS clusters. The tool should:

1. List TGs
2. List related load balancers
3. List related ECS services

[2020-05-23 07:47] meshuga opened #24 "Enhance Route Tables reporting"
Currently a route table is reported to be directly associated with a VPC but in practice, the relationship is much more complex, with the tables being associated with subnets. The tool should detect that relationship and report it properly.
There is also a concept of a default table, that should be reported.

[2020-05-24 02:58] meshuga opened #29 "Add new network detection mode: IoT"
Right now the tool detects resources within VPC but that's not everything that rund within AWS.
Another area that can need an ability to detect network is IoT.

Because VPC resources and IoT resources can be drawn as independent entities (with small overlap), there should be a separate command to detect either of those two.

For VPC detection the following command can be issued:
[code]

For IoT de

[2020-05-24 03:04] meshuga opened #30 "(AWS) Resource filtering by tags"
Tags in AWS are used for various purposes to group resources [1].

It should be possible to filter out detected resources by tags, so that it would be possible to report only a specific group of resources instead of all resources within an account.

There can be an additional parameter for that purpose that would accept tag name and value(s) `--filter="Name=tags.costCenter;Value=20000:'20001:1'"`.

[2020-05-24 05:26] meshuga opened #31 "Add new network detection mode: Policy"
Since the tool is able to detect VPC resources, there's a task to detect IoT resources, it would be possible to detect policy resources.

We can all agree IAM policies are complex, with a lot of moving parts and manual verification of evaluation logic is not easy. The tool can help to get an overview of policies within an account.

Similarly to #29, there can be a command to initiate policy report

[2020-05-24 17:14] leandrodamascena commented on #21
Code refactor to implement a new kind of check. Now is much cleaner and allows to process new kind of reports, outputs, diagrams, whatever.

78cb09e

[2020-05-24 18:24] leandrodamascena commented on #1
Now script check all vpcs in the same region!

[2020-05-24 22:58] leandrodamascena commented on #16
I think it's a good new implementation!! :D

We maybe discuss about connections inside diagram, but it's detail.

![image](https://user-images.githubusercontent.com/4295173/82766839-4740f880-9e1a-11ea-8fbf-b9b39223001f.png)

[2020-05-25 11:08] leandrodamascena commented on #31
You mean that this tool could analyze all policies and discover which resources those policies allow access or specific policies that are referring to some network item like vpc, vpce.

Let me know further information about this idea.

[2020-05-25 13:04] #1 closed

[2020-05-25 13:04] leandrodamascena commented on #4
License changed.

[2020-05-25 13:04] #4 closed

[2020-05-25 13:04] #16 closed

[2020-05-25 13:15] leandrodamascena opened #34 "Add Media Services"
These resources use custom VPC.

- [x] MediaConnect
- [x] MediaLive Inputs
- [x] MediaStore Container Policy

[2020-05-26 18:42] leandrodamascena commented on #34
Added MediaConnect check.

![image](https://user-images.githubusercontent.com/4295173/82937962-f6034700-9f88-11ea-995a-272d375b7379.png)

[2020-05-26 22:52] leandrodamascena commented on #34
Added Media Store Policy check.

[2020-05-27 10:11] leandrodamascena commented on #21
- [x] Resource generation
- [x] Report printing
- [ ] Other data exports e.g. #16
- [x] PEP-8 rules
- [x] New and fast way to instance classes to run checks
- [x] General method to parse and analyze most of checks

[2020-05-30 09:17] #34 closed, assigned to nobody

[2020-05-30 17:06] patrykorwat commented on #23
@leandrodamascena Now, with the relations generation mechanism, it's possible to list out the resources and relationships between them. I can provide a PR with the resources and relations.

[2020-05-31 04:24] patrykorwat opened #42 "(AWS Policy) Analyze policy statements"
To better understand relations between a policy and resources, an analysis of statements should be made, with focus on principals.

The diagram could provide two types of connections:
- One from a policy with Allow statement to a principal, maybe there should be a green line
- One from a policy with Deny statement to a principal, perhaps a red line should be drawn

[2020-05-31 19:48] leandrodamascena opened #43 "(AWS Policy) Add APIGateway Resource policy"
![image](https://user-images.githubusercontent.com/4295173/83361332-1ca5f100-a380-11ea-86bf-4b1e7a8b08f6.png)

[2020-06-01 11:00] leandrodamascena opened #44 "Add multi-region check"
It's would be a good idea to list all vpcs/iots across all regions.

[2020-06-01 20:11] #31 closed

[2020-06-03 13:58] patrykorwat commented on #23
Because of potential high number of targets, it's better have a separate command to detect targets within an account and region.

[2020-06-03 14:05] patrykorwat commented on #24
The initial idea can be enhanced to detect route table associations to subnets to:
1. Be able to create a subnets groups: private and public
2. Trick diagrams library to aggregate multiple edges that that to all subnets within a cluster to have one connection to such private/public cluster

The outcome will be simpler diagrams. For the change, the `fdp` graphviz engine must be used.

[2020-06-04 00:39] leandrodamascena commented on #29
Now this tool can check IoT things and connections... Some problems related to diagrams...

![image](https://user-images.githubusercontent.com/4295173/83702306-38b9c480-a604-11ea-851a-2fd137767d18.png)

[2020-06-04 20:16] #21 closed

[2020-06-05 18:42] patrykorwat commented on #24
Blocked by https://github.com/mingrammer/diagrams/issues/17.

For the time being, we can aggregate the multiple subnets into one (perhaps represented with a bigger icon), in order to make the diagram cleaner.

[2020-06-06 10:35] patrykorwat opened #49 "(AWS VPC) Aggregate EC2 instances from ASGs"
There's a lot of duplicates in the diagram with multiple EC2 instances in ASGs. That should be aggregated, along with ECS instances

[2020-06-06 10:39] patrykorwat opened #50 "(AWS VPC) Show relations in subnet aggregations"
I got Lambda functions that are related only to two out of three private subnets. Yet, on the diagram this is not represented and the lambda function goes to an aggregated 3 subnets, which is incorrect.

That should be further adjusted, so this subgroup is represented on the diagram. That can be done to e.g. display sub-subnets on relations.

[2020-06-06 10:39] patrykorwat commented on #29
LGTM

[2020-06-06 10:39] #29 closed

[2020-06-07 08:58] #24 closed

[2020-06-07 23:19] leandrodamascena commented on #44
Now this tool is able to check in all AWS regions.

[2020-06-07 23:19] #44 closed, assigned to leandrodamascena

[2020-06-11 16:58] leandrodamascena opened #56 "(GENERAL) - Create HTML report"
Would be good to create a HTML report with resources found and relations.

[2020-06-13 17:59] patrykorwat opened #59 "(AWS) Better multi account support"
A typical AWS deployment consists often of multiple AWS accounts/organization units.

To be able to properly analyze such deployment, it should be possible to ensure generated report and diagram names won't overlap across different accounts.

[2020-06-13 18:04] patrykorwat opened #60 "GCP computing infrastructure support"
There should be an option to generate a diagram of the GCP computing infrastructure.

[2020-06-13 18:05] patrykorwat opened #61 "Azure infrastructure support"
It should be possible to report Azure VMs, network infrastructure and DBs.

[2020-06-13 18:35] patrykorwat opened #62 "Terraform support"
It should be possible to read TF files, so that discovery of undeployed infrastructure can be made.

[2020-06-14 07:06] patrykorwat opened #63 "AliCloud support"
It would be good to have a command to discover Alicloud network resources.

[2020-06-14 22:10] leandrodamascena opened #65 "(AWS) Bug: Running script with region "all""
When run script with region "all" and there is no default region in ~./aws/config, botocore raise a exception.

`python clouddiscovery\__init__.py aws-vpc -v vpc-XXXX -d True -r all`

raise NoRegionError()
botocore.exceptions.NoRegionError: You must specify a region.

![image](https://user-images.githubusercontent.com/4295173/84605293-2bb69400-ae94-11ea-8ee9-fad37ff1fc77.png)

[2020-06-14 22:22] leandrodamascena commented on #59
You may should add account number as a prefix of filename.

[2020-06-14 22:34] leandrodamascena opened #66 "(GENERAL): Check Graphviz on PATH"
When running with diagram parameter, it would be good to check if PATH contains Graphviz.

![image](https://user-images.githubusercontent.com/4295173/84605726-7b4a8f00-ae97-11ea-87ea-09402fd7c377.png)

[2020-06-15 01:33] #65 closed, assigned to leandrodamascena

[2020-06-15 09:47] leandrodamascena commented on #43
Close from #64

[2020-06-15 09:47] #43 closed, assigned to leandrodamascena

[2020-06-15 10:20] leandrodamascena opened #68 "(AWS) Add new VPC resources"
More services with Custom VPC.

- [x] Amazon Neptune
- [x] CloudHSM
- [x] SageMaker Notebook
- [x] SageMaker Training job
- [x] SageMaker Models

[2020-06-15 15:26] #49 closed, assigned to patrykorwat

[2020-06-15 21:17] JoshiiSinfield opened #69 "(AWS) Error running check SYNTHETICSCANARIES.get_resources"
Hi,

I get the following error when it's scanning.
Command I ran:
`clouddiscovery aws-vpc --region-name eu-west-1 --profile-name XXXX`
Running:
python --version
Python 3.7.5
pip --version
pip 20.0.2 from /usr/local/lib/python3.7/site-packages/pip (python 3.7)
pip show clouddiscovery
Name: clouddiscovery
Version: 2.0.508
Summary: The tool to help you discover resources in the cloud environment
Home

[2020-06-16 00:47] leandrodamascena commented on #69
Hi!

The only service with problem is SYNTHETICSCANARIES.get_resources?

Just to check... Did you configured policies to allow "synthetics:DescribeCanaries" permission?

Thank you for you report :)

[2020-06-17 13:40] leandrodamascena opened #71 "(AWS) Error running checks on EFS"
Command: python clouddiscovery\__init__.py aws-vpc -v vpc-XXXXX -d True -r us-east-1

Error message:

Collecting data from EFS Mount Targets...
Error running check EFS.get_resources. Error message 'Name'

[2020-06-17 16:09] patrykorwat opened #73 "(AWS) Old subnet id breaks discovery"
If a resource stores a reference to a removed subnet, the tool stops working. Call to get subnet details should be wrapped with `@exception` annotation.

Such situation happens to SageMaker:
[code]

[2020-06-17 17:44] #59 closed, assigned to patrykorwat

[2020-06-17 17:52] leandrodamascena opened #76 "(GENERAL) Update diagrams version to support new icons"
Change diagram version to support new IoT and Sagemaker icons.

[2020-06-17 18:16] patrykorwat commented on #76
Not to forget, a lot of IAM principals now have own icons

[2020-06-17 19:08] leandrodamascena commented on #76
Ok.

[2020-06-17 21:06] leandrodamascena commented on #69
@JoshiiSinfield I can't reproduce this error.. I thinks this error is a pip package problem..

Try this:

[code]

We will update pip package this weekend.

[2020-06-17 22:19] leandrodamascena commented on #73
Discussing this issue in PR #78.

[2020-06-18 12:00] leandrodamascena commented on #76
I'm closing this issue and reopen when diagram launch new icons.

[2020-06-18 12:00] #76 closed, assigned to nobody

[2020-06-19 09:24] leandrodamascena commented on #71
Closed #79

[2020-06-19 09:24] #71 closed, assigned to nobody

[2020-06-19 09:24] leandrodamascena commented on #66
Closed #79

[2020-06-19 09:24] #66 closed, assigned to nobody

[2020-06-21 09:50] patrykorwat opened #82 "(AWS) List all AWS resources command"
It should be possible to detect possible resources from boto3 SDK and list them.

Reference implementation: https://github.com/jckuester/awsls

[2020-06-21 10:00] leandrodamascena commented on #73
Closed #78

[2020-06-21 10:00] #73 closed, assigned to patrykorwat, leandrodamascena

[2020-06-21 10:25] leandrodamascena commented on #68
Closed by #83

[2020-06-21 10:25] #68 closed, assigned to leandrodamascena

[2020-06-21 10:26] leandrodamascena commented on #30
Closed #81 #80

[2020-06-21 10:59] #30 closed

[2020-06-21 11:47] leandrodamascena opened #85 "(AWS) Add new VPC resources check"
- [x] Directory Service
- [x] Workspaces instances attached to a specific vpc
- [x] Quicksight Data Source

[2020-06-21 13:51] leandrodamascena opened #89 "(AWS) Problem with html reports in pip package"
Using pip package I get an exception..

![image](https://user-images.githubusercontent.com/4295173/85226273-9acd4480-b3ce-11ea-8c5f-2e55b7afc9a4.png)

[2020-06-21 14:16] #89 closed, assigned to nobody

[2020-06-21 14:27] patrykorwat opened #93 "(AWS) Add account limits check"
It should be possible to list account limits.

A base for the new command can be tool https://github.com/jantman/awslimitchecker

[2020-06-21 14:56] leandrodamascena opened #96 "(GENERAL) Update setup.py"
I think we should update setup.py to get required libraries from requirements.txt.

[2020-06-21 16:03] patrykorwat opened #97 "(GENERAL) Rethink diagramming tool"
Currently https://github.com/mingrammer/diagrams tool is being used for diagrams, which is a free, easy to use and extensive library. Although, during development of the cloudiscovery, we face the following issues with it:
1. Security Groups, VPCs and other resources cannot be represented as areas, making diagrams more complex because of a need of edges to represent relations between resources (in

[2020-06-21 16:20] leandrodamascena opened #98 "(AWS) Alert the services that are not available in some region"
It would be good to alert the services that is not available and skip check..

![image](https://user-images.githubusercontent.com/4295173/85229740-85164a00-b3e3-11ea-833b-6494fdb26fbc.png)

[2020-06-22 18:05] #7 closed

[2020-06-22 18:32] #85 closed, assigned to nobody

[2020-06-22 18:37] patrykorwat commented on #98
Apart from that, commands execution should be parallelized.

[2020-06-22 18:50] leandrodamascena opened #104 "(GENERAL) Execution commands should be parallelized."
For performance reasons, commands execution should be parallelized.

[2020-06-23 08:29] leandrodamascena commented on #98
![image](https://user-images.githubusercontent.com/4295173/85379763-0bda3c80-b534-11ea-88dc-40ea21a21ce1.png)

[2020-06-23 08:30] leandrodamascena commented on #98
Agree! Opened issue #104

[2020-06-24 09:42] leandrodamascena commented on #104
Closed #105

[2020-06-24 09:42] #104 closed, assigned to patrykorwat

[2020-06-24 09:42] leandrodamascena commented on #98
Closed #105

[2020-06-24 09:42] #98 closed, assigned to nobody

[2020-06-24 15:37] patrykorwat opened #107 "(GENERAL) Separate a session per provider"
Boto3 sessions aren't thread safe [1], so the code must be refactored to ensure a session is not shared between threads.

[1] https://boto3.amazonaws.com/v1/documentation/api/latest/guide/session.html#multithreading-or-multiprocessing-with-sessions

[2020-06-24 20:02] leandrodamascena opened #108 "(AWS) Regions"
Update readme to inform how to list all regions.

[2020-06-26 16:50] patrykorwat opened #109 "(AWS All) Ability to detect required parameters"
It should be possible by the tool to pass a single required parameter in supported listing operation.
The tool should rely on the first run on the methods that did not required any input.

[2020-06-28 22:05] leandrodamascena commented on #82
It already detects all commands, but some errors need to be fixed before closing the ticket.

[2020-06-29 16:30] #93 closed, assigned to leandrodamascena

[2020-06-29 16:32] patrykorwat opened #113 "(AWS all) include attributes and tags"
All resources should have attributes and tags, so that it would be possible to filter on them.

[2020-06-29 16:35] patrykorwat opened #114 "(GENERAL) Enhanced filters"
It should be possible to use `*` to filter on various fields.

An example: `aws_iam_*` should return all AWS IAM resources.

[2020-06-29 18:50] #82 closed, assigned to patrykorwat

[2020-06-29 18:51] #56 closed, assigned to leandrodamascena

[2020-06-29 20:22] leandrodamascena opened #118 "(GENERAL) Memory tests"
Using guppy3 package to perform memory tests.

It would be good to think in automate a memory usage test to keep acceptable values for each resource.

aws-all - 97MB
![image](https://user-images.githubusercontent.com/4295173/86051932-22a9f300-ba4e-11ea-900f-5555911e9600.png)

aws-limit - 29MB
![image](https://user-images.githubusercontent.com/4295173/86052035-453c0c00-ba4e-11ea-9790-13c041c9e2a4.p

[2020-06-30 05:47] patrykorwat commented on #69
The error is caused by old botocore. It's recommended to install the package with `-U` option, that is `pip install -U cloudiscovery`.

Ref https://github.com/Cloud-Architects/cloudiscovery#aws-resources

[2020-06-30 05:47] #69 closed, assigned to leandrodamascena

[2020-06-30 16:46] patrykorwat opened #121 "Verbose mode"
Commands should have an option to log verbose logs. That can help hiding not critical errors and debug information.

boto3 should also be configured in verbose mode if cloudiscovery is set to verbose https://boto3.amazonaws.com/v1/documentation/api/latest/reference/core/boto3.html#boto3.set_stream_logger

[2020-07-04 13:51] leandrodamascena commented on #121
Closed by #122

[2020-07-04 13:51] #121 closed, assigned to nobody

[2020-07-05 10:27] #113 closed, assigned to nobody

[2020-07-05 10:27] #114 closed, assigned to nobody

[2020-07-05 17:44] leandrodamascena opened #126 "(GENERAL) Enhanced readme - screenshots of new command reports"
The README file must be updated to bring new images of resources.

[2020-07-05 17:48] leandrodamascena opened #127 "(AWS) Command for security and data checks"
Might be interesting to add a command to check security in AWS.
This command must analyze the following itens:

[ ] - CloudFront distributions without HTTPS
[ ] - Unencrypted EBS Volumes
[ ] - Dynamodb with Point-in-Time Recovery (PITR) disabled
[ ] - Over-permissive IAM policies
[ ] - S3 bucket with public policies
[ ] - S3 bucket versioning disabled
[ ] - S3 bucket without SSE

[2020-07-05 17:51] leandrodamascena opened #128 "(GENERAL) Code refactor"
Code refactoring is required to support new cloud providers.

The commands should follow these standards:

cloudiscovery provider command parameters

examples:
cloudiscovery aws iot -t mything
cloudiscovery gcp limit

[2020-07-06 08:48] patrykorwat commented on #127
A good point of reference might be https://github.com/toniblyx/prowler, https://github.com/nccgroup/ScoutSuite (this one is multi cloud) or AWS Config with [conformance templates](https://docs.aws.amazon.com/config/latest/developerguide/conformancepack-sample-templates.html)/[managed rules](https://docs.aws.amazon.com/config/latest/developerguide/managed-rules-by-aws-config.html).

The problem wit

[2020-07-08 08:50] leandrodamascena opened #134 "(AWS) Add more resources to check limit"
It would be good add more resources to check limit.

[2020-07-10 11:05] #134 closed, assigned to leandrodamascena

[2020-07-10 16:16] leandrodamascena opened #136 "(GENERAL) Error reporting"
Might be good add a more detailed error reporting and even a possibility to show system information, python version, platform, traceback and others.

[2020-07-11 03:25] #136 closed, assigned to nobody

[2020-07-13 08:38] javiplx commented on #61
Is there any ongoing effort on this direction? I'm interested on azure support, and also able to help development.
In case I need to start from scratch, is there any documenation pointing to the way to extend to a different cloud provider?

[2020-07-13 12:40] patrykorwat commented on #61
Thanks for the interest in the feature!

Adding a new provider is one of functionalities we want to focus on in this release.

We already made steps to be able to support other cloud providers but need to make some fixes to make things work well.

I already got an account I am willing to add Azure support but need to ask for an input. Do you know what resources would have highest priority to focus

[2020-07-13 17:45] javiplx commented on #61
No real idea. I've just landed in an azure based Project, and reached this project from https://github.com/mingrammer/diagrams, while thinking how to make my own discovery.
Probably the best is to start with networks/compute, and from what I've seen it is probably good idea to use the resource group as mandatory parameter.

Looking at the code, I believe that going to multicloud will require some

[2020-07-14 16:46] leandrodamascena commented on #61
Thank you for the interest in help this project @javiplx.

We think that we can support new providers this month.. And you might start code your own script (a standalone script) to discover Azure resources and we can merge after that. If you want, we can do this in this way.

Thank you again.

[2020-07-25 02:21] patrykorwat opened #147 "Analyze CloudTrail events"
The security command should analyze CloudTrail and look for most common incidents.

A useful list of reference incidents can be found in https://github.com/easttimor/aws-incident-response#incidents

[2020-08-14 20:39] dbadrak opened #148 "Failures when trying against a us-gov based region"
When using a profile that is in a GovCloud region (us-gov-east-1, us-gov-west-1), this fails in a number of different places.

When constructing an ssm client to pull the global configuration, it is true that it needs to use the us-east-1 region.  However, if that's not the region selected or in the profile, it fails because the ssm global parameters /aws/service/global-infrastructure isn't availa

[2020-08-15 05:11] patrykorwat commented on #148
Hi, thanks for the info. We initially created the tool to work with the Public AWS partition and didn't think about other ones. The issue might also occur in AWS China.

[2020-08-28 11:22] requix opened #150 "KeyError: 'LaunchConfigurationName' on aws-vpc command"
Python:        3.8.5 (default, Jul 21 2020, 10:48:26)
[Clang 11.0.3 (clang-1103.0.32.62)]
boto3 version: 1.14.48
Platform:      macOS-10.15.6-x86_64-i386-64bit

Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/cloudiscovery/shared/error_handler.py", line 21, in wrapper
    return func(*args, **kwargs)
  File "/usr/local/lib/python3.8/site-packages/cloudiscovery/sha

[2020-08-31 09:28] leandrodamascena commented on #150
Hei @requix we will fix this error in next release. I think in 2 or 3 days.

Thank you

[2020-09-23 13:20] #109 closed, assigned to nobody

[2020-10-06 13:55] #126 closed, assigned to patrykorwat

[2020-10-06 21:34] leandrodamascena commented on #150
Hi @requix. Sorry for the late response, I had some busy days at my regular work.

I fixed the problem. You seems like that are using ASG with Launch Templates instead Launch Configuration.

I opened a pull request #152 and we will launch a release this week.

[2020-10-07 00:49] #150 closed, assigned to leandrodamascena

[2020-10-07 07:08] requix commented on #150
Hey @leandrodamascena, yes you are right, we use Launch Template.
Thanks for the fix!

[2020-10-07 08:35] leandrodamascena commented on #148
Hi dudes. Yes, the same thing occurs in China regions (cn-north-1 and cn-northwest-1).

I'm trying to map all the points of failure and contact one friend with account in one of those regions. I have no idea a specific deadline to finish this, but I'll try to update the issue this week.

Thank you for the info.

[2020-10-08 00:13] eddpascoal opened #153 "Filtering does not seem to work"
Hi,

wonder if I'm using a correct command or not but looking at the report I would like to filter by a specific stackname. I wonder if this is possible.

`cloudiscovery aws-all --region-name xx-xxxxxxx --profile-name my-profile-name --filter="Name=StackName;Value=myStackname"`

I also tried one very similar approach from readme.
`cloudiscovery aws-all --region-name xx-xxxxxxx --profile-name my-pr

[2020-10-08 01:10] eddpascoal commented on #153
I also tried to use tag filtering and does not work besides the comment below:

**tags only for now, you must specify name and values**
[code]

I also notice that **Filterable** class is empty.

[code]

[2020-10-08 06:07] supernova789 opened #154 "Distorted diagram image"
Hi,

I'm trying to generate a aws-vpc report and diagram. Eventhough I'm able to generate the report, the diagram image is not generated properly, with distorted and all the elements of the image created at the center of page overlapping each other.

Please Help !

The command i run:  cloudiscovery aws-vpc --vpc-id vpcID --region-name regionName --diagram yes --verbose

and the error i get is :

Y

[2020-10-08 16:28] sdaam007 commented on #154
Ok

[2020-10-11 03:55] meshuga commented on #153
Thanks for rising the issue! We added this command recently and finding out what would be most useful to have.

Filters for aws-all seems to be an important feature 👍

[2020-10-11 04:02] patrykorwat commented on #154
I hope steps provided in https://stackoverflow.com/questions/34228395/ubuntu-graphviz-sfdp-not-working will help you. We use sfdp engine to render VPC diagrams and some of the distribution packages are not shipped with this engine.

On a side note, I started work on #97 and introduction of diagrams.net compatible diagrams. It'll allow better interoperability and enable you to work on the generated

[2020-10-11 04:29] patrykorwat commented on #153
There's a bug in filter functionality. Thanks @eddpascoal for raising the issue!

[2020-10-11 04:43] patrykorwat commented on #97
The best option will be to generate diagrams.net compatible diagram files. It'll allow better interoperability and enable users to work on the generated diagrams.

[2020-10-12 11:56] #153 closed, assigned to nobody

[2020-11-15 11:01] #97 closed, assigned to nobody

[2020-11-15 11:03] patrykorwat commented on #154
The VPC diagram migrated to diagrams.net. The issue can be closed as is linked to graphviz.

[2020-11-15 11:03] #154 closed, assigned to nobody

[2020-11-16 15:25] patrykorwat commented on #148
I think the best solution to that problem will be to be able to pass two profiles:
1. `--profile profile-name` as the main profile, that can point to a region in any partition
2. `--aws-partition-profile profile-name` as a profile that resides in the main AWS partition (partition `aws`), so that we are able to connect to SSM.

We should detect if a region in a profile is outside of the `aws` parti

[2020-11-20 11:57] patrykorwat opened #164 "AWS VPC diagrams - follow AWS recommendations"
In order for diagrams to be appraised by AWS in e.g. APN requests, the generated diagrams should follow recommended practices.

Sample diagrams to look at:
![consul-diagram](https://d1.awsstatic.com/partner-network/QuickStart/datasheets/hashicorp-consul-on-aws-architecture.5724e50ba3c57b63afe5d09b7d645484d2a0f2eb.png)

Refs
* https://aws.amazon.com/quickstart/architecture/consul/
* https://aws.ama

[2020-11-20 13:36] anon65856 commented on #61
Any update on this at all?

[2020-11-20 14:42] patrykorwat commented on #61
Thanks @anon65856 for the question. I've been talking yesterday with @leandrodamascena on work to add GCP + Azure (finally). I hope to add support for them although it's been a bumpy year...

[2020-11-20 21:25] leandrodamascena commented on #148
@dbadrak hei friend! @meshuga opened a PR to fix this and I merged. Can you clone/update the repository and try again? Thank you so much.

[2020-12-04 00:35] patrykorwat commented on #62
There is already such a tool in place: https://github.com/28mm/blast-radius

[2020-12-16 15:17] igorescobar opened #174 "Issue with Python 3.9.1"
Hi,

I've just installed cloudiscovery and tried to run the command bellow:

[code]

Any idea why that is? 🙏

[2020-12-17 09:46] leandrodamascena commented on #174
Hi @igorescobar. Thank you for your ticket! Hmm probably problems using Python 3.9+, we haven't tested it yet.

Do you have Python 3.8* in your environment?  Could you retry the test with this version?

I'll update my env and verify it by running Python 3.9 as well.

[2020-12-28 15:27] louiskimlevu commented on #174
same problem with python 3.9.1
TypeError: Multiple inheritance with NamedTuple is not supported

[2021-01-04 09:57] #174 closed, assigned to nobody

[2021-01-04 10:01] leandrodamascena commented on #174
A new release was deployed!

Please check if it was fixed @igorescobar @louiskimlevu

[2021-01-15 19:35] gentleadam commented on #61
I've been watching this project for a while and really want to see some Azure support. I'm a beginner to Python and would love to contribute. I wonder if there's any documentation or pointers you can give me to assist @meshuga ?

[2021-02-09 19:38] jacorbello commented on #61
I am beginning to work on this issue. There's a few updates to the core services that need to be changed in order to support multiple cloud providers. I have one PR #177 open right now to refactor the CLI to support `[cloud provider]` `[resource]` formatting against the CLI.

Next tasks that I can tell:
- [x] CLI Refactor
- [ ] Generalize the `command_runner`
- [ ] Update cache locations to suppor

[2021-05-01 17:45] nerixim opened #179 "Resource inspection fails for ECS when Capacity Provider Strategy is set"
Recently discovered your awesome tool. Thanks for the work!

I have an ECS cluster with Capacity Provider Strategy set and cloudiscovery throws an error when trying to inspect it.
Actually it's a [boto3 issue](https://github.com/boto/boto3/issues/2845) but meanwhile it can be avoided by adding a check as follows
[code]

## Error trace just in case

[code]

[2021-05-19 09:02] c-rack opened #180 "Problem: oracle-se1 and oracle-se are unrecognized engines"
Running `clouddiscovery aws-vpc` gives the following error message:

When removing [this line](https://github.com/Cloud-Architects/cloudiscovery/blob/develop/cloudiscovery/provider/aws/vpc/resource/database.py#L42), it alters to:

Removing [this line](https://github.com/Cloud-Architects/cloudiscovery/blob/develop/cloudiscovery/provider/aws/vpc/resource/database.py#L43) as well fixes the problem.

[2021-05-23 02:02] patrykorwat commented on #180
Sure, PRs are appreciated 👍🏻

Looks like a deprecated RDS db

[2021-06-21 10:19] namloc2001 opened #182 "Diagram overlaps labels"
Hi - great tool. Just tried using it and finding that labels overlap. Is there some functionality I've missed that can resolve this, or is it a bug? Thanks.
![image](https://user-images.githubusercontent.com/30868661/122746990-75457600-d282-11eb-89fe-fa22f8c836b7.png)

[2021-12-20 20:15] fedemontaldo87 opened #184 "the diagram do not show the entire infraetructure"
Hi

When I run the diagram for vpc I cannot see the full diagram only it shows the main vpc. How can I fix this issue?.

Regards

[2022-04-15 19:52] eahangari-8x8 opened #185 "unrecognized arguments: --filters"
Hi
First of all this is a wonderful project and it is exactly what Im looking for. Thank you so much

but I have 2 problems. 1) --region-name is not working in the command and I have to export the aws region as a environment variable in the bash.

2) my main problem is that it seems there is no filters and it retrieves everything when I use aws-vpc command. what I need is just vpc and subnets and

[2022-05-17 08:51] Goutham10 commented on #182
can you please provide the code for it. It would be more helpful to solve the problem quickly

[2022-06-27 08:37] andreacavagna01 opened #186 "ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
When calling `cloudiscovery aws-policy --profile-name default` this error is thrown

[2022-06-29 09:04] denisroldan commented on #186
`pip install markupsafe==2.0.1` (or `pip3 install markupsafe==2.0.1` in case you still have both Python 2 and 3)